/**
 * 320 and Up boilerplate extension
 */
html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.sans-serif {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

.serif {
  font-family: Cambria, Georgia, Times, "Times New Roman"; }

.monospace {
  font-family: "Monaco",Courier New,monospace; }

.clearfix {
  zoom: 1; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

html {
  overflow-y: scroll;
  background: #ffffff;
  font-size: 62.5%; }

body {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: Cambria, Georgia, Times, "Times New Roman";
  color: #282828;
  background-color: transparent; }

button, input, select, textarea {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #404040; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold; }

h1 {
  margin-bottom: 0.75em;
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.2; }

h2 {
  margin-bottom: 0.75em;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.2; }

h3 {
  margin-bottom: 1em;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.3; }

h4 {
  margin-bottom: 1em;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.25; }

h5 {
  margin-bottom: 1.5em;
  font-size: 16px;
  font-size: 1.6rem; }

h6 {
  font-size: 16px;
  font-size: 1.6rem; }

p, ol, ul, dl, address {
  margin-bottom: 1.5em;
  font-size: 16px;
  font-size: 1.6rem; }

p {
  hyphens: auto;
  text-align: justify; }

ul, ol {
  margin: 0 0 1.5em -24px;
  padding: 0 0 0 24px; }

li ul, li ol {
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem; }

dl, dd {
  margin-bottom: 1.5em; }

dt {
  font-weight: normal; }

blockquote {
  margin: 0 0 1.5em -24px;
  padding-left: 24px;
  border-left: 1px solid #bfbfbf;
  font-style: italic; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #bfbfbf; }

ins {
  background-color: #c3d9e6;
  color: #000000;
  text-decoration: none; }

mark {
  background-color: #c3d9e6;
  color: #000000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: "Monaco",Courier New,monospace;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 14px;
  font-size: 1.4rem; }

sub, sup {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

a {
  color: #013568; }

a:visited {
  color: #011b35; }

a:hover {
  color: #011b35; }

a:focus {
  outline: thin dotted;
  color: #011b35; }

a:hover, a:active {
  outline: 0; }

figure {
  margin-bottom: 1.5em; }

figure img, figure object, figure embed {
  margin-bottom: 0.75em;
  max-width: 100%; }

figcaption {
  display: block;
  font-weight: normal; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem; }

th, td, caption {
  padding: 0.1875em 10px 0.1875em 5px; }

tfoot {
  font-style: italic; }

caption {
  background-color: transparent; }

tbody tr:nth-child(odd) td {
  background-color: #c3d9e6; }

form {
  margin: 0; }

fieldset {
  margin-bottom: 1.5em;
  padding: 0;
  border-width: 0; }

legend {
  *margin-left: -7px;
  padding: 0;
  border-width: 0; }

label {
  font-weight: normal;
  cursor: pointer; }

button, input, select, textarea {
  font-size: 12px;
  font-size: 1.2rem;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal;
  *overflow: visible; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  box-sizing: content-box; }

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #c3d9e6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

::-webkit-selection {
  background: #e6e6e6;
  color: #fafafa;
  text-shadow: none; }

::-moz-selection {
  background: #7bacc8;
  color: #c8977b;
  text-shadow: none; }

::selection {
  background: #7bacc8;
  color: #c8977b;
  text-shadow: none; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button; }

::-webkit-input-placeholder {
  font-size: 14px;
  font-size: 1.4rem; }

input:-moz-placeholder {
  font-size: 14px;
  font-size: 1.4rem; }

.ie7 img, .iem7 img {
  -ms-interpolation-mode: bicubic; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box; }

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

p {
  -webkit-hyphens: auto;
  -webkit-hyphenate-character: "\2010";
  -webkit-hyphenate-limit-after: 1;
  -webkit-hyphenate-limit-before: 3;
  -moz-hyphens: auto; }

.ir {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -999em;
  direction: ltr; }

.ir br {
  display: none; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  position: static;
  margin: 0;
  height: auto;
  width: auto;
  overflow: visible;
  clip: auto; }

.invisible {
  visibility: hidden; }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  @page {
    margin: 0.5cm; }

  h2, h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid; }

  p {
    orphans: 3;
    widows: 3; }

  pre, blockquote {
    border: 1px solid #808080;
    page-break-inside: avoid; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a, a:visited {
    color: #000000 !important;
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  img {
    max-width: 100% !important;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr {
    page-break-inside: avoid; }

  .ir a:after {
    content: ""; } }
/* Variables */
/* 2.335px */
/* 3.069px */
/* 4.996px */
/* 6.112px */
/* 8.035px */
/* 9.889px */
/* 13px */
/* 21.034px */
/* 25.888px */
/* 34.033px */
/**
 * Typography
 */
body {
  font-family: Cabin, "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, Arial, Verdana, sans-serif; }

p, li, dd {
  line-height: 1.4;
  text-align: left; }

.textwidget {
  line-height: 1.4; }

button, input, select, textarea {
  font-family: Cabin, "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 1em; }

/* Navigation */
#menu-primary-navigation {
  /* main menu in the header */
  text-transform: uppercase; }

/* Home */
#site-title {
  font-family: Cabin, "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  text-align: center; }
  #site-title a {
    text-decoration: none;
    text-shadow: #b6b8ba 2px 2px 5px; }
    #site-title a:hover {
      color: #7270ae; }

.home .section-title {
  /* Random, Browse, Blog */
  font-size: 1.618em;
  margin: 1.315em 0 0.618em 0; }
.home section h2 {
  font-size: 1.315em; }
.home #blog {
  /* Clear and add padding to account for floated list items in section#map */
  clear: both;
  padding-top: 1em; }
.home .left {
  margin: 0 auto;
  width: 80%; }

/**
 * Style the list items used in the continents map
 * Note this breaks the typography/layout/colors divide
 */
#map {
  margin: 0 auto;
  position: relative;
  width: 80%; }
  #map #credit {
    /* "Graphics credits" link */
    text-align: right; }
    #map #credit a {
      font-size: 0.813em; }

#map li {
  background-color: #7270ae;
  background-position: center 60%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #bbb;
  border-radius: 3px;
  list-style: none;
  margin: 0.502em 0;
  padding: 0.502em 0;
  position: static;
  -webkit-box-shadow: 0px 0px 5px #7270ae;
  -moz-box-shadow: 0px 0px 5px #7270ae;
  box-shadow: 0px 0px 5px #7270ae; }
  #map li:active {
    /* Small effects on click */
    background-color: #f8963d;
    position: relative;
    top: 2px; }
  #map li a {
    color: white;
    display: block;
    font-family: Cabin, "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    font-size: 18px;
    margin-top: 6px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; }
  .svg #map li {
    /* display only when modernizr detects svg support */
    float: left;
    height: 175px;
    margin: 0;
    padding: 0;
    width: 49%; }
    .svg #map li.africa {
      background-image: url("img/africa.svg"); }
    .svg #map li.asia {
      background-image: url("img/asia.svg"); }
    .svg #map li.europe {
      background-image: url("img/europe.svg"); }
    .svg #map li.oceania {
      background-image: url("img/oceania.svg"); }
    .svg #map li.n-america {
      background-image: url("img/na.svg"); }
    .svg #map li.s-america {
      background-image: url("img/sa.svg"); }

ol.other-recent-posts {
  margin: 0; }
  ol.other-recent-posts li {
    line-height: 1.4;
    margin-bottom: 1em; }

/* Single posts */
#category-nav h1 {
  /* either 'resources' or 'staff blog' */
  font-size: 1.315em; }

h1.entry-title {
  font-size: 2.127em; }

.entry-meta,
.entry-meta li {
  font-size: 0.813em;
  font-style: italic;
  margin-bottom: 0.502em; }
  .entry-meta ul,
  .entry-meta li ul {
    margin-left: 0; }
  .entry-meta a,
  .entry-meta li a {
    font-style: italic; }

.entry-content #description {
  /* <section> with description and link to original */
  margin-bottom: 1em;
  /* compensate for display: inline below */ }
  .entry-content #description p {
    display: inline;
    /* fake two paragraphs looking like one */
    font-size: 1.315em; }
.entry-content dl {
  font-size: 1em; }
.entry-content dt {
  font-weight: bold; }
.entry-content dd {
  padding: 0.618em 0 0 1em; }

/*
 * Comments in single posts
 */
#comments-title {
  /* "Comments (#)" */
  font-size: 1.618em; }

.commentlist,
.commentlist .children {
  /* Lists of comments */
  list-style: none; }

.comment-author {
  /* Commenter name */
  font-size: 1.315em; }
  .comment-author .fn {
    font-weight: bold; }

.comment-meta {
  /* Comment date and time */
  font-size: 0.813em; }

/* Sidebars */
.widget-title {
  font-size: 1.315em;
  margin: 1em 0 0.502em 0; }

/* Comments */
#reply-title {
  /* 'Leave a Reply' or somesuch */
  font-size: 1.315em; }

.form-allowed-tags {
  /* 'You may use...' */
  font-size: 0.813em; }
  .form-allowed-tags code {
    font-size: 0.813em; }

/* Archive and search pages */
.archive #content h1,
.search #content h1 {
  font-size: 1.618em; }
.archive #content h2,
.search #content h2 {
  font-size: 1.315em; }
.archive #content h1.page-title,
.search #content h1.page-title {
  /* "You are here: " */
  font-size: 1.315em; }

/* Location Search widget */
.ui-widget {
  /* wipe out jQuery UI typography */
  font-family: inherit !important;
  /* required because jquery ui css is enqueued after default css */
  font-size: inherit !important; }
  .ui-widget input,
  .ui-widget select,
  .ui-widget textarea,
  .ui-widget button {
    font-family: inherit !important;
    font-size: inherit !important; }

/* Contact Forms */
/* via http://pea.rs/forms/simple-top-labels */
.wpcf7 form fieldset label {
  display: block;
  margin: 0 0 5px 0;
  font-weight: bold; }
.wpcf7 form fieldset input,
.wpcf7 form fieldset textarea {
  display: block;
  width: 95%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  background: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
.wpcf7 form fieldset input:focus {
  border: 1px solid #ccc;
  background: #fff; }

/**
 * Layout
 */
/* Global */
body {
  width: 100%;
  /* ensure we're starting by filling everything */ }

#page {
  /* center and give a tiny left-right margin to all content */
  margin: 0 auto;
  max-width: 1000px;
  /* never extend beyond 1000px */
  width: 95%; }

/* Header */
#branding {
  margin: 0 auto 2.127em;
  /* center, add breathing room between header and main body */
  width: 95%; }
  #branding .searchform {
    /* center search form above nav */
    margin: 1em auto 1.315em;
    width: 90%; }

#header-above {
  /* "A service of..." */
  text-align: center;
  padding: 1em 0 1em; }

/* Navigation */
#access {
  width: 100%; }

#menu-primary-navigation ul li:hover > ul {
  display: block; }

#menu-primary-navigation {
  list-style: none; }
  #menu-primary-navigation li {
    margin: .464em auto;
    /* 7.417/16 */
    position: relative;
    text-align: center; }
  #menu-primary-navigation a {
    display: block;
    padding: .618em 0;
    /* 9.889/16 */
    text-decoration: none; }

#main {
  /* Add white space on either side for grey border */
  margin: 0 0.618em; }

#primary,
#secondary,
#tertiary {
  /* Add white space below main sections */
  margin-bottom: 2.127em; }

#supplementary {
  /* extend purple background */
  clear: both;
  margin: 0 auto;
  padding: 0 2.5%;
  /* 2.5+2.5=5, the remaining width to cover given the margin and width */
  width: 95%; }

/* Footer */
#colophon {
  /* extend purple background */
  margin: 1em auto 0;
  /* ensure white space above #colophon */
  padding: 2.127em 2.5%;
  width: 95%; }

#site-generator {
  clear: both;
  padding-top: 2.127em; }

/* Single posts */
#category-nav h1 {
  margin: 1em 0 0.502em 0; }

/* Archive pages */
#breadcrumbs {
  /* "You are here: " block */
  margin-bottom: 1.618em; }
  #breadcrumbs h1 {
    /* "You are here" text */
    margin-bottom: 0.502em; }

.taxarchive ul, .taxarchive ol, .taxarchive li,
#filter ul,
#filter ol,
#filter li {
  margin-left: 0; }

#nav-above {
  /* Displays on author, category archives */
  margin-bottom: 1em; }

.archive article,
.search article {
  margin-bottom: 1.618em; }
  .archive article .entry-title,
  .search article .entry-title {
    margin-bottom: 0.502em; }

#nav-below {
  /* Displays on author, category archives */
  margin-top: 1em; }

/*
 * Comments on single posts
 *
 */
.comment-form-author input,
.comment-form-email input,
.comment-form-url input {
  /* "Name," "Email," "Website" */
  margin-left: 0.813em; }

#comment {
  /* "Comment" textarea */
  display: block;
  max-width: 400px;
  width: 95%; }

article.comment {
  /* <article> containing a comment */
  margin-bottom: 1.315em; }
  article.comment .comment-author {
    /* comment author */
    margin-bottom: 0.618em; }
  article.comment .comment-meta {
    /* comment metadata */
    margin-bottom: 0.502em; }

/*
 * Widgets
 */
.widget_pages ul {
  /* "Site Map" list */
  margin-left: 0; }

/**
 * 404
 */
.notfound-box {
  margin-bottom: 1.315em; }

/**
 * Colors
 */
body {
  background: #7270ae; }

#page {
  background: #fff; }

/*
 * All visited and unvisited links green
 */
a {
  color: #1e135c; }
  a:visited, a:hover {
    color: #1e135c; }

/*
 * All headlines, headlines with links,
 * and headlines with visited links black
 */
h1, h2, h3, h4, h5, h6 {
  color: #1e135c; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #1e135c; }
    h1 a:hover, h1 a:visited, h2 a:hover, h2 a:visited, h3 a:hover, h3 a:visited, h4 a:hover, h4 a:visited, h5 a:hover, h5 a:visited, h6 a:hover, h6 a:visited {
      color: #1e135c; }

/*
 * Navigation
 */
#menu-primary-navigation li:hover > a,
#menu-primary-navigation ul ul :hover > a {
  /* main menu in the header */
  background: #1e135c;
  color: white; }

#menu-primary-navigation li a {
  background: #7270ae;
  color: white; }
#menu-primary-navigation li.current_page_item a {
  background: #1e135c;
  color: white; }

/*
 * Home page
 *
 * All widget titles and section titles red
 */
.widget-title,
.section-title,
h2.other-recent-posts {
  /* "Other recent posts" heading */
  color: #7270ae; }

/*
 * Home page
 *
 * Mobile Menus created at smaller screens: lightpurple
 */
.mobileMenu {
  border: 1px solid #7270ae;
  color: #282828;
  margin-bottom: 1em;
  width: 90%; }

/*
 * Single posts
 *
 * Category navigation ("Resource") red
 */
#category-nav h1 {
  color: #7270ae; }

/*
 * Single posts
 *
 * Comments template
 */
#reply-title,
#comments-title {
  /* "Leave a Reply" and "Comments" red */
  color: #7270ae; }

/*
 * Taxonomy archives
 *
 * These headings red:
 * "Taxonomy Archives: "
 * "You are here: " 
 * "Available resources"
 * "Conferences, "Europe," etc
 * "In this location"
 */
.page-title,
#breadcrumbs h1,
.taxarchives,
.taxarchive h2,
#filter h1 {
  color: #7270ae; }

/*
 * Widgets
 * 
 * Dropdowns for Taxonomy widget
 */
.widget_taxonomy select {
  border: 1px solid #7270ae;
  color: #282828;
  margin-bottom: 1em;
  width: 90%; }

/*
 * Sidebars
 *
 * Secondary and tertiary
 * Supplementary and colophon: white on dark purple
 */
#supplementary,
#colophon {
  background: #1e135c;
  color: #eeeeee; }
  #supplementary a,
  #colophon a {
    color: #eeeeee; }
  #supplementary .widget-title,
  #colophon .widget-title {
    color: #f8963d; }

@media only screen and (min-width: 480px) {
  #map ul {
    /* center images so there's no wide-right margin between 480-600px */ }
  #map li {
    /* bigger images */ } }
@media only screen and (min-width: 600px) {
  #map li {
    /* back to original size for three-across display */ } }
@media only screen and (min-width: 768px) {
  #menu-primary-navigation li {
    border: 1px solid white;
    float: left;
    margin: 0 auto;
    width: 49.7%; }

  #map a {
    font-size: 24px; }

  #secondary {
    float: left;
    width: 45%; }

  #tertiary {
    float: left;
    width: 45%; }

  #quartary {
    clear: both; }
    #quartary .widget {
      float: left;
      width: 45%; }

  .single {
    /* Two-column display on single-post view */ }
    .single #primary {
      margin: 0 auto;
      width: 60%; }
    .single #secondary,
    .single #tertiary,
    .single #quartary {
      float: right;
      margin-right: 1%;
      width: 25%; }

  #first {
    /* 'Narrow' footer sidebar */
    float: left;
    width: 35%; }

  #second {
    /* 'Wide' footer sidebar */
    float: right;
    width: 60%; }

  /* Contact Forms */
  .wpcf7 form fieldset input,
  .wpcf7 form fieldset textarea {
    width: 50%; } }
@media only screen and (min-width: 992px) {
  #branding {
    margin-bottom: 1.618em; }

  #access {
    background: #7270ae;
    clear: both;
    display: block;
    height: 34px;
    /* hack! */ }

  #menu-primary-navigation li {
    border: 0;
    /* reset all borders */
    border-right: 2px solid white;
    /* then add the right border */
    width: inherit; }
    #menu-primary-navigation li a {
      padding: 0.618em; }

  #main {
    clear: both;
    /* push below navigation */
    margin: 0;
    width: 100%;
    /* this container goes across the whole main container */ }

  #home-top {
    margin: 0 auto;
    width: 70%; }

  #primary {
    margin: 0 auto;
    width: 60%;
    /* main content column; narrow for readability */ }
    .home #primary {
      /* equivalent to .home #primary, see http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#referencing_parent_selectors_ */
      width: 90%;
      /* extra space in main content column on home page */ }
    #primary .left {
      float: left;
      margin-right: 2%;
      width: 48%; }
    #primary #map {
      float: left;
      margin-right: 2%;
      width: 48%; }
      #primary #map li {
        width: 32%; } }
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  @page {
    margin: 0.5cm; }

  h2, h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid; }

  p {
    orphans: 3;
    widows: 3; }

  pre, blockquote {
    border: 1px solid #808080;
    page-break-inside: avoid; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a, a:visited {
    color: #000000 !important;
    text-decoration: underline; }

  a[href]:after {
    content: ""; }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  img {
    max-width: 100% !important;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr {
    page-break-inside: avoid; }

  .ir a:after {
    content: ""; }

  #access, #respond {
    display: none; } }
