#branding {
  /* Use the same light grey tint as #site-generator */
  background-color: #f9f9f9;
}

#branding hgroup {
  text-align: center;
}

#site-title {
  /* At small screens, we need only a little padding */
  padding: 1em 0;

  /* Transitions on hover */
  a {
    -webkit-transition: color 0.2s ease-in-out 0s;
    -moz-transition: color 0.2s ease-in-out 0s;
    -o-transition: color 0.2s ease-in-out 0s;
    -ms-transition: color 0.2s ease-in-out 0s;
    transition: color 0.2s ease-in-out 0s;

    /* !important is required because the link color is set via inline CSS, via the theme */
    &:hover {
      color: $lightpurple !important;
    }
  }

  /* At tablets and above, remove the right margin so the text is properly centered */
  @media screen and (min-width: 650px) {
    margin-right: 0;
    /* We also don't need any padding above or below, because the .logo div is big enough */
    padding: 0;

    /* Reduce the font size so the logo gets more prominence */
    a {
      font-size: 21px;
    }
  }
}

#site-description {
  /* At small screens, we need only a little padding on the bottom */
  margin-bottom: 1.265em;

  /* At tablets and above, remove the right margin so the text is properly centered */
  @media screen and (min-width: 650px) {
  margin-right: 0;
  }
}
