.featured-posts-permanent {
  /* height: 128px; */
}
.featured-posts-permanent section.featured-post {
  opacity: 1;
  visibility: visible;
  width: 82%;
}
.featured-posts-permanent .ui-autocomplete-input {
  width: 100%;
}
.featured-posts-permanent .list-columns {
  list-style-type: none;
  margin-left: 0;
}
.featured-posts-permanent .list-columns .cat-item {
}
.featured-posts-permanent .list-columns-two {
  -webkit-column-count: 2;
}
.featured-posts-permanent .list-columns-three {
  -webkit-column-count: 3;
}
.featured-posts-permanent--offwhite { /* Alternate background */
  // background-color: #f9f9f9;
}

/**
 * List of continents with icons
 */
.featured-posts-permanent--continents {
  ul {
    // margin-left: 0;
  }
  .cat-item {
    border-radius: 4px;
    margin: 12px 0;
    -webkit-transition: .3s all ease;

    &:hover {
      background-color: $lightpurple;
      -webkit-transition: .3s all ease;
    }

    a {
      display: block;
      padding: 4px;
      width: 100%;

      &:hover {
        color: $white;
      }
    }
  }
}
