

body {
  background-color: $backgroundpurple;
}

a {
  /* Underline links by default */
  text-decoration: underline;
}

.page-title {
  /* Make page titles larger; they look better with Lato */
  font-size: 17px;
}
